@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(0, 0, 0);
	font-weight: 300;
}

.formLogin {
	padding: 20px;
	position: relative;
	z-index: 2;
	font-weight: bold;
}

.container {
	margin: 5% auto;
	padding: 80px ;
	height: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.384);
	-webkit-box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.400);
	-moz-box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.400);
	box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.400);
}

.container h1 {
	margin-top: 10;
	font-size: 40px;
	font-weight: bold;
	color: rgb(0, 0, 0);
}