{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block nav_title %}
    <a class="navbar-brand">
        <i class="fas fa-calendar-week mr-2"></i>Nuevo Contacto
    </a>
{% endblock %}

{% block content %}
    <br>
    <div class="container-fluid w-75 mt-5">
        <h1>Añadir Contacto</h1>
    </div>
    <hr>
    <div class="container-fluid w-75">
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
            {{ wtf.form_field(form.nombre, class='form-control') }}
            {{ wtf.form_field(form.telefono, class='form-control') }}
            {{ wtf.form_field(form.email, class='form-control') }}
            {% if edit %}
                <input class='btn btn-success' type="submit" value="Actualizar Contacto">
            {% else %}
                {{ wtf.form_field(form.enviar_contacto, class='btn btn-success') }}
            {% endif %}
          </form>
    </div>
{% endblock %}